<?php
$sql = "SELECT * FROM penjualan";
$result = mysqli_query($koneksi, $sql);
$no = 0;
?>
<?php while ($data = mysqli_fetch_assoc($result)) : $no++; ?>
    <tr>
        <td><?php echo "$no"; ?></td>
        <td><?php echo $data["ID_PENJUALAN"]; ?></td>
        <td><?php echo $data["ID_KASIR"]; ?></td>
        <td><?php echo $data["TANGGAL_PENJUALAN"]; ?></td>
        <td><?php echo $data["QTY_PENJUALAN"]; ?></td>
        <td><?php echo $data["TOTAL_HARGA_PENJUALAN"]; ?></td>

    </tr>
<?php endwhile ?>
